@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the ASP.MVC Restaurant</h1>
    <h2>Admin Page</h2>
    <div>Login to continue</div>

</div>
