@using ASP.MVC.Models.ViewModel 
@model DishVM

<div class="m-3 p-3">
    <form method="post" asp-action="CreateDish">
        <div>
            <label asp-for="DishName"> Dish Name</label>
            <input asp-for="DishName" />
        </div>
        <br />
        <button type="submit" class="btn btn-light">Create Dish</button>
    </form>

</div>
