@{
    ViewData["Title"] = "Menu";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the ASP.MVC Restaurant</h1>
    <h2>Menu</h2>

    <div>MENU PAGES</div>

    <div>popular food/drinks, pics</div>

    <span>links to other pages, i.e.:Booking</span>
</div>
