@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the ASP.MVC Restaurant</h1>

    <p>Restaurant Intro: koncept, feeling, specialty etc.</p>

    <div>popular food/drinks, pics</div>

    <span>links to other pages, i.e.: Meny / Booking</span>
</div>
