@{
    ViewData["Title"] = "Edit Bookings";
}
@model Booking

<div class="m-3 p-3 text-center">
    <h1 class="display-4 text-center">Edit Bookings</h1>

    <ol class="breadcrumb d-flex justify-content-start p-3 m-5">
        <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="AdminPage">Admin Page</a></li>
        <li class="breadcrumb-item active">Edit Bookings</li>
    </ol>
</div>

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger m-3">
        <p>@ViewData["ErrorMessage"]</p>
    </div>
}
@if (ViewData["Success"] != null)
{
    <div class="alert alert-success m-3">
        <p>@ViewData["Success"]</p>
    </div>
}

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Get All Bookings
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
            <div class="accordion-body">
                <a asp-action="AllBookings" asp-controller="EditBooking" class="btn btn-primary">Get All Bookings</a>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Get Booking By ID
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample" style="">
            <div class="accordion-body">
                <form asp-action="BookingById" asp-controller="EditBooking" method="get">
                    <fieldset>
                        <div>
                            <label for="BookingIdInput" class="form-label mt-4">Booking Id</label>
                            <input type="number" class="form-control mb-4" id="BookingIdInput" name="BookingId" aria-describedby="BookingId" placeholder="Enter Booking Id:">
                            <button type="submit" class="btn btn-primary">Get Booking Info</button>
                        </div>
                    </fieldset>
                </form>               
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Booking By Date
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample" style="">
            <div class="accordion-body">
                <form asp-action="BookingByDate" asp-controller="EditBooking" method="get">
                    <fieldset>
                        <div>
                            <label for="DateInput" class="form-label mt-4">Booking(s) on Date</label>
                            <input type="date" class="form-control mb-4" id="DateInput" name="date" aria-describedby="BookingId" placeholder="Enter Date: YYYY-MM-DD">
                            <button type="submit" class="btn btn-primary">Get Booking(s) on Date</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Bookings Today
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample" style="">
            <div class="accordion-body">
                <div class="accordion-body">
                    <a asp-action="BookingToday" asp-controller="EditBooking" class="btn btn-primary">Get Booking(s) Today</a>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Create Booking
            </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample" style="">
            <div class="accordion-body">
                <form asp-action="CreateBooking" asp-controller="EditBooking" method="post">
                    <fieldset>
                        <div class="mb-3">
                            <label for="UserId" class="form-label">User ID</label>
                            <input type="int" class="form-control" id="UserId" name="UserIdFk" placeholder="Enter User ID" required>
                        </div>
                        <div class="mb-3">
                            <label for="Name" class="form-label">Guest Name</label>
                            <input type="text" class="form-control" id="Name" name="Name" placeholder="Enter Guest Name">
                        </div>
                        <div class="mb-3">
                            <label for="TableId" class="form-label">Table ID</label>
                            <input type="int" class="form-control" id="TableId" name="TableIdFk" placeholder="Enter Table ID">
                        </div>
                        <div class="mb-3">
                            <label for="StartDateTime" class="form-label">Booking Date & Time</label>
                            <input type="datetime-local" class="form-control" id="StartDateTime" name="StartDateTime" placeholder="Enter desired Date & Time">
                        </div>
                        <div class="mb-3">
                            <label for="GuestNum" class="form-label">Number of Guests</label>
                            <input type="int" class="form-control" id="GuestNum" name="GuestNum" placeholder="Enter number of Guests">
                        </div
                        <div class="mb-3">
                            <label for="Phone" class="form-label">Phone Number</label>
                            <input type="text" class="form-control" id="Phone" name="Phone" placeholder="Enter Phone Number in format: [XXX-XXX-XXXX] ">
                        </div>
                        <div class="p-3">
                             <button type="submit" class="btn btn-primary">Create Booking</button>
                        </div>
                       
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Accordion Item #6
            </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample" style="">
            <div class="accordion-body">
                <strong>This is the sixth item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                Accordion Item #7
            </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample" style="">
            <div class="accordion-body">
                <strong>This is the seventh item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
        </div>
    </div>
</div>